@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply text-black bg-white;
    color: var(--foreground);
    background: var(--background);
  }

  .main-header {
    @apply text-4xl md:text-5xl lg:text-6xl;
    @apply uppercase font-bold;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
    @apply uppercase font-bold;
  }

  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl;
    @apply font-display
  }

  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h5 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  h6 {
    @apply text-base md:text-lg lg:text-xl;
  }

  a {
    @apply uppercase font-bold;
    @apply hover:underline;
    @apply transition-all;
    @apply font-display font-bold uppercase tracking-tight;
    font-family: "Courier", "Courier New", monospace;
  }

  p {
    @apply text-base leading-relaxed;
    @apply font-display font-bold uppercase tracking-tight;
    font-family: "Courier", "Courier New", monospace;
  }
}

@layer utilities {
  .font-courier {
    font-family: "Courier", "Courier New", monospace;
  }

  .text-balance {
    text-wrap: balance;
  }
}
